section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.action-btn {
  background-color: #4caf50;
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

input{
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.hover-me{
  background-color: black;
  color: #fff;
  text-align: center;
}